PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@medibridge-ai.2vphpdv.mongodb.net/?appName=medibridge-ai
JWT_SECRET=your_jwt_secret_key
AI_API_KEY=your_ai_api_key
CLIENT_URL=http://localhost:5173
